/* template-color */

.scroll-top{
  background-color: #7dbc26;
}

.handle-preloader{
	background: #7dbc26;
}

.preloader-close{
	color: #7dbc26;
}

.header-top{
	background: #7dbc26;
}

.theme-btn.style-one{
	background: #7dbc26;
}

.header-upper .info-list .theme-btn:hover{
  color: #7dbc26;
}

.header-upper .info-list li i{
	color: #7dbc26;
}

.header-upper .info-list li h5 a:hover{
  color: #7dbc26;
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a{
  color: #7dbc26;
}

.social-style-one li a:hover{
	background: #7dbc26;
}

.main-header .menu-right-content .cart-box a{
	color: #7dbc26;
}

.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover{
	color: #7dbc26;
}

.main-menu .navigation > li > ul,
.main-menu .navigation > li > .megamenu{
	border-bottom: 3px solid #7dbc26;
}

.main-menu .navigation > li > ul > li > ul{
	border-bottom: 3px solid #7dbc26;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover{
  color: #7dbc26;
}

.dots-style-one .owl-dots .owl-dot.active span,
.dots-style-one .owl-dots .owl-dot span:hover{
	border-color: #7dbc26 !important;
}

.banner-section .owl-theme .owl-prev:hover,
.banner-section .owl-theme .owl-next:hover{
  background: #7dbc26;
}

.image_block_1 .image-box .shape-box .circle{
	background: #7dbc26;
}

.image_block_1 .image-box .content-box .text{
	background: #7dbc26;
}

.sec-title .top-title p{
	color: #7dbc26;
}

.sec-title .top-title .shape .line{
	background: #7dbc26;
}

.cctv-section .single-item:hover .link a{
	background: #7dbc26;
}

.cctv-section .single-item:before{
	border: 1px solid #7dbc26;
}

.cctv-section .single-item:hover:before{
	border: 2px solid #7dbc26;
}

.cctv-section .tab-btn-box .tab-btns li.active-btn:after{
	color: #7dbc26;
}

.cctv-section .more-text p a{
  color: #7dbc26;
}

.service-block-one .inner-box .content-box .icon-box{
	color: #7dbc26;
}

.service-block-one .inner-box h3 a:hover{
  color: #7dbc26;
}

.service-block-one .inner-box .content-box .link:before{
	background: #7dbc26;
}

.service-block-one .inner-box .overlay-content .icon-box{
  background: #7dbc26;
}

.service-block-one .inner-box .overlay-content .btn-box a{
	background: #7dbc26;
}

.service-block-one .inner-box .overlay-content .btn-box a:hover{
	color: #7dbc26;
}

.storage-section .single-item .inner-box .icon-box{
	color: #7dbc26;
}

.storage-section .single-item .inner-box h3:before{
	background: #7dbc26;
}

.storage-section .single-item .inner-box .link a:hover{
  color: #7dbc26;
}

.storage-section .single-item .inner-box .link:hover i{
	color: #7dbc26;
}

.storage-section .single-item .inner-box .link:hover i:after{
  background: #7dbc26;
}

.storage-banner:before{
	background: #7dbc26;
}

.storage-banner .inner-box .single-column .text a:hover{
  color: #7dbc26;
}

.image_block_2 .image-box .content-box .icon-box{
	background: #7dbc26;
}

.content_block_2 .content-box .inner-box .single-item .icon-box{
	color: #7dbc26;
}

.content_block_2 .content-box .inner-box span{
	color: #7dbc26;
}

.content_block_2 .content-box .inner-box .single-item .icon-box .dotted-box .dotted{
	background: #7dbc26;
}

.highlights-section .inner-box .check-form .form-group input:focus{
  border-color: #7dbc26 !important;
}

.highlights-section .inner-box .check-form .form-group button{
	background: #7dbc26;
}

.highlights-section .inner-box h5 a:hover{
  color: #7dbc26;
}

.highlights-banner .single-item .icon-box{
	color: #7dbc26;
}

.project-block-one .inner-box .content-box .link-box li{
	background: #7dbc26;
}

.project-block-one .inner-box .content-box .link-box li:last-child{
  background: #75b221;
}

.pricing-block-one .pricing-table .table-header h2{
	color: #75b221;
}

.pricing-block-one .pricing-table .table-header .icon-box .icon{
	color: #75b221;
	border: 2px solid #75b221;
}

.pricing-block-one.active .pricing-table:before,
.pricing-block-one.active .pricing-table:after{
	background: #75b221;
}

.testimonial-block-one .inner-box .quote-icon{
	background: #75b221;
}

.testimonial-block-one .inner-box .designation{
	color: #75b221;
}

.estimation-section .inner-content .title-box{
	background: #75b221;
}

.estimation-section .inner-content .title-box .list li .icon-box{
	color: #75b221;
}

.estimation-section .inner-content .title-box:before{
	background: #75b221;
}

.estimation-section .inner-content .inner-box .single-column .price-box h5{
	background: #75b221;
}

.estimation-section .inner-content .inner-box .single-column .btn-box a{
	border: 2px solid #75b221;
}

.estimation-section .inner-content .inner-box .single-column .btn-box a:hover{
  background: #75b221;
}

.news-block-one .inner-box .image-box .link:hover{
  color: #75b221;
}

.news-block-one .inner-box .lower-content .inner{
	border-bottom: 3px solid #75b221;
}

.news-block-one .inner-box .lower-content .category a{
	background: #75b221;
}

.news-block-one .inner-box .lower-content h5 a:hover{
  color: #75b221;
}

.news-block-one .inner-box .lower-content .link a:hover{
  color: #75b221;
}

.news-block-one .inner-box .lower-content .comment-box a:hover{
  color: #75b221;
}

.newsletter-section .left-column .inner-box .link a:hover{
  color: #75b221;
}

.newsletter-section .left-column .inner-box .price{
	background: #7dbc26;
}

.newsletter-section .right-column .inner-box .upper-box span{
	color: #75b221;
}

.newsletter-section .right-column .newsletter-form .form-group input:focus + button,
.newsletter-section .right-column .newsletter-form .form-group button:hover{
  background: #7dbc26;
}

.newsletter-section .right-column .newsletter-form .form-group input:focus{
  border-color: #7dbc26 !important;
}

.newsletter-section .right-column .social-links li a:hover{
  background: #7dbc26;
  border-color: #7dbc26;
}

.newsletter-section .bg-shape{
	background: #7dbc26;
}

.bg-color-2{
	background: #7dbc26;
}

.footer-top .logo-widget .support-box h4 a:hover{
  color: #7dbc26;
}

.footer-top .logo-widget .support-box p{
  color: #7dbc26;
}

.footer-top .logo-widget .text a:hover{
  color: #7dbc26;
}

.footer-top .widget-title:before{
	background: #7dbc26;
}

.footer-top .links-widget .links-list li a:hover{
  color: #7dbc26;
}

.footer-top .post-widget .post .post-thumb:before{
	background: #7dbc26;
}

.footer-top .post-widget .post h5 a:hover{
  color: #7dbc26;
}

.main-footer .footer-info .info-list li i{
	color: #7dbc26;
}

.main-footer .footer-info .info-list li p a:hover{
  color: #7dbc26;
}

.main-footer .footer-bottom a:hover{
  color: #7dbc26;
}

.blue .preloader-close{
	color: #2d77fc;
}

.blue .handle-preloader{
	background: #2d77fc;
}

.blue .header-top-2 .info li i{
	color: #2d77fc;
}

.blue .header-top-2 .text h6 i{
	color: #2d77fc;
}

.blue .header-top-2 .text h6 a:hover{
  color: #2d77fc;
}

.blue .header-top-2 .right-column .mail-box i{
	color: #2d77fc;
}

.blue .header-top-2 .right-column .mail-box a:hover{
  color: #2d77fc;
}

.blue .header-top-2 .right-column .social-links li a:hover{
  color: #2d77fc;
}

.blue .main-header.style-two .search-box-btn:hover{
  color: #2d77fc;
}

.blue .main-menu .navigation > li.current > a, 
.blue .main-menu .navigation > li:hover > a{
	color: #2d77fc;
}

.blue .main-menu .navigation > li > ul > li > a:hover, 
.blue .main-menu .navigation > li > .megamenu li > a:hover{
	color: #2d77fc;
}

.blue .main-menu .navigation > li > ul, 
.blue .main-menu .navigation > li > .megamenu{
	border-bottom: 3px solid #2d77fc;
}

.blue .main-menu .navigation > li > ul > li > ul > li > a:hover{
	color: #2d77fc;
}

.blue .main-menu .navigation > li > ul > li > ul{
	border-bottom: 3px solid #2d77fc;
}

.blue .main-header.style-two .menu-right-content .support-box i{
	background: #2d77fc;
}

.blue .main-header .menu-right-content .support-box h5 a:hover{
	color: #2d77fc;
}

.blue .main-header .menu-right-content .cart-box a:hover{
	color: #2d77fc;
}

.blue .banner-section .owl-theme .owl-prev:hover, 
.blue .banner-section .owl-theme .owl-next:hover{
	background: #2d77fc;
}

.blue .theme-btn{
	background: #2d77fc;
}

.blue .sec-title-two p{
	color: #2d77fc;
}

.blue .protection-section .inner-container:before{
	background: #2d77fc;
}

.blue .protection-block-one .inner-box .link a{
	border: 4px solid #2d77fc;
}

.blue .protection-block-one .inner-box:hover .link a{
  background: #2d77fc;
}

.blue .protection-block-one .inner-box .link a:before{
	border: 1px solid #2d77fc;
}

.blue .content_block_3 .content-box .inner-box .text span{
	color: #2d77fc;
}

.blue .content_block_3 .content-box .inner .single-item h2{
	color: #2d77fc;
}

.blue .scroll-top{
	background: #2d77fc;
}

.blue .content_block_4 .content-box .video-box .link{
	color: #2d77fc;
}

.blue .content_block_4 .content-box .video-box .video-btn:hover{
  background: #2d77fc;
}

.blue .content_block_4 .content-box .inner-box .single-item h4 a:hover{
  color: #2d77fc;
}

.blue .dots-style-one .owl-dots .owl-dot.active span, 
.blue .dots-style-one .owl-dots .owl-dot span:hover{
	border-color: #2d77fc !important;
}

.blue .service-block-two .inner-box .icon-box{
	background: #2d77fc;
}

.blue .service-block-two .inner-box:hover .icon-box a{
	color: #2d77fc;
}

.blue .service-block-two .inner-box:before{
	border: 2px solid #2d77fc;
}

.blue .service-block-two .inner-box h3 a:hover{
  color: #2d77fc;
}

.blue .team-section .sec-title-two .link:hover{
	color: #2d77fc;
}

.blue .team-block-one .inner-box .image-box .image{
	border: 2px solid #2d77fc;
}

.blue .team-block-one .inner-box .lower-content h4 a:hover{
  color: #2d77fc;
}

.blue .team-block-one .inner-box .lower-content .designation{
	color: #2d77fc;
}

.team-block-one .inner-box .lower-content .social-links li:first-child a:hover{
	color: #3b5998;
}

.team-block-one .inner-box .lower-content .social-links li:nth-child(2) a:hover{
	color: #00acee;
}

.team-block-one .inner-box .lower-content .social-links li:nth-child(3) a:hover{
	color: #0e76a8;
}

.team-block-one .inner-box .lower-content .social-links li:last-child a:hover{
	color: #ff0000;
}

.blue .support-section .inner-container{
	background: #2d77fc;
}

.blue .support-section .inner-container .inner .text a:hover{
  color: #2d77fc;
}

.blue .content_block_5 .content-box .quote-form .form-group textarea:focus,
.content_block_5 .content-box .quote-form .form-group input:focus{
  border-color: #2d77fc !important;
}

.blue .content_block_5 .content-box .quote-form .form-group button:hover{
  color: #2d77fc;
}

.blue .accordion-box .block .acc-btn.active{
	background: #2d77fc;
}

.blue .pricing-block-two .pricing-table .header-inner .btn-box a:hover{
  background: #2d77fc;
}

.blue .pricing-block-two .pricing-table .table-content .list li:before{
	color: #2d77fc;
}

.blue .pricing-block-two .pricing-table:hover{
  border-bottom: 3px solid #2d77fc;
}

.blue .project-style-two .bg-layer:before{
	background: #2d77fc;
}

.blue .project-style-two .tab-btn-box .tab-btns li span{
	color: #2d77fc;
}

.blue .testimonial-style-two .testimonial-inner{
	border-top: 3px solid #2d77fc;
}

.blue .testimonial-block-two .inner-box .icon-box{
	color: #2d77fc;
}

.blue .testimonial-block-two .inner-box .designation{
	color: #2d77fc;
}

.blue .news-style-two .sec-title-two .link:hover{
  color: #2d77fc;
}

.blue .news-block-two .inner-box .image-box .category a{
	background: #2d77fc;
}

.blue .news-block-two .inner-box .image-box .category a:hover{
  color: #2d77fc;
}

.blue .news-block-two .inner-box .image-box .text:before{
	background: #2d77fc;
}

.blue .news-block-two .inner-box:hover .image-box .link a{
	background: #2d77fc;
    box-shadow: 0px 0px 0px 5px rgba(45,119,252,0.4);
}

.blue .newsletter-style-two .newsletter-form .form-group input:focus{
  border-color: #2d77fc !important;
}

.blue .footer-top-two .logo-widget .support-box h5 a:hover{
	color: #2d77fc;
}

.blue .footer-top-two .logo-widget .support-box i{
	background: #2d77fc;
}

.blue .footer-top-two .contact-widget .info li i{
	color: #2d77fc;
}

.blue .footer-top-two .contact-widget .info li p a:hover{
  color: #2d77fc;
}

.blue .footer-top-two .links-widget .list li a:hover{
	color: #2d77fc;
}

.blue .footer-top-two .links-widget .list li a:before{
	color: #2d77fc;
}

.blue .main-footer.style-two .footer-bottom a:hover{
  color: #2d77fc;
}

.red .scroll-top{
	background: #c91323;
}

.red .preloader-close{
	color: #c91323;
}

.red .handle-preloader{
	background: #c91323;
}

.red .header-top .info li i{
	color: #c91323;
}

.red .main-header.style-three .outer-box .logo-box .logo{
	background: #c91323;
}

.red .main-header.style-three .outer-box .other-option li:last-child{
	background: #c91323;
}

.red .main-header.style-three .outer-box .other-option li.share-option a:hover{
  background: #c91323;
}

.red .main-menu .navigation > li.current > a, 
.red .main-menu .navigation > li:hover > a{
	color: #c91323;
}

.red .main-menu .navigation > li > ul > li > a:hover, 
.red .main-menu .navigation > li > .megamenu li > a:hover{
	color: #c91323;
}

.red .main-menu .navigation > li > ul, 
.red .main-menu .navigation > li > .megamenu{
	border-color: #c91323;
}

.red .main-menu .navigation > li > ul > li > ul > li > a:hover{
	color: #c91323;
}

.red .main-menu .navigation > li > ul > li > ul{
	border-color: #c91323;
}

.red .theme-btn{
	background: #c91323;
}

.red .banner-section .owl-theme .owl-prev:hover, 
.red .banner-section .owl-theme .owl-next:hover{
	background: #c91323;
}

.red .banner-section.style-three .content-box h3{
	border-left: 3px solid #c91323;
}

.red .banner-section .banner-bottom .single-item .inner-box .icon-box{
	color: #c91323;
}

.red .banner-section .banner-bottom .single-item .inner-box h5 a:hover{
  color: #c91323;
}

.red .banner-section .banner-bottom .single-item:hover .inner-box .link a{
  background: #c91323;
}

.red .banner-section .banner-bottom .single-item:hover{
  background: #c91323;
}

.red .sec-title .icon-box{
	color: #c91323;
}

.red .sec-title .icon-box .shape-box .shape{
	background: #c91323;
}

.red .content_block_6 .content-box .link a{
	color: #c91323;
}

.red .content_block_6 .content-box .inner-box .list li:before{
	color: #c91323;
}

.red .service-block-three .inner-box .image-box .icon-box{
	background: #c91323;
}

.red .service-block-three .inner-box .image-box .link a{
	background: #c91323;
}

.red .service-block-three .inner-box .lower-content h4 a:hover{
  color: #c91323;
}

.red .counter-block-one .inner-box .icon-box{
	background: #c91323;
}

.red .team-block-two .inner-box .content-box .share-option i.share-icon{
	background: #c91323
}

.red .team-block-two .inner-box .content-box .share-option .share-links li a:hover{
  color: #c91323;
}

.red .team-block-two .inner-box .content-box .designation{
	color: #c91323;
}

.red .team-block-two .inner-box .content-box h4 a:hover{
  color: #c91323;
}

.red .chooseus-block-one .inner-box .icon-box{
	color: #c91323;
}

.red .chooseus-block-one .inner-box .icon-box:before{
	background: #c91323;
}

.red .chooseus-section .owl-prev:hover,
.red .chooseus-section .owl-next:hover{
  border-color: #c91323;
  color: #c91323;
}

.red .pricing-block-two .pricing-table .header-inner .table-header h4:before{
	background: #c91323;
}

.red .pricing-block-two .pricing-table .header-inner .btn-box a:hover{
	background: #c91323;
}

.red .pricing-block-two .pricing-table .table-content .list li:before{
	color: #c91323;
}

.red .pricing-block-two .pricing-table:hover{
	border-color: #c91323;
}

.red .testimonial-style-three .inner-container .video-inner .video-btn a{
	color: #c91323;
}

.red .testimonial-style-three .inner-container .video-inner .icon-box{
	background: #c91323;
}

.red .testimonial-style-three .inner-container .testimonial-content .inner-box .author-box .designation{
	color: #c91323;
}

.red .testimonial-style-three .owl-prev:hover, 
.red .testimonial-style-three .owl-next:hover{
  background: #c91323;
}

.red .news-block-three .inner-box .image-box .post-date h5{
	background: #c91323;
}

.red .news-block-three .inner-box .image-box .category a:hover{
  background: #c91323;
}

.red .news-block-three .inner-box .lower-content h5 a:hover{
  color: #c91323;
}

.red .news-block-three .inner-box .lower-content .bottom-box .link a:hover{
  color: #c91323;
}

.red .news-block-three .inner-box .lower-content .bottom-box .comment-box a:hover{
  color: #c91323;
}

.red .contact-section .bg-layer{
	background: #c91323;
}

.red .content_block_7 .content-box .support-box{
	background: #c91323;
}

.red .content_block_7 .content-box .support-box i{
	color: #c91323;
}

.red .default-form .form-group input:focus,
.red .default-form .form-group textarea:focus{
  border-color: #c91323 !important;
}

.social-style-two li:first-child a{
	background: #3b5998;
}

.social-style-two li:nth-child(2) a{
	background: #00acee;
}

.social-style-two li:nth-child(3) a{
	background: #ff0000;
}

.social-style-two li:last-child a{
	background: #0e76a8;
}

.red .footer-top-three .subscribe-widget .subscribe-form .form-group i{
	color: #c91323;
}

.red .footer-top-three .subscribe-widget .subscribe-form .form-group input:focus{
  border-color: #c91323 !important;
}

.red .footer-top-three .subscribe-widget .subscribe-form .form-group .theme-btn:hover{
  color: #c91323;
}

.red .footer-bottom-three a:hover{
	color: #c91323;
}

.gradient-color .handle-preloader{
	background: -webkit-linear-gradient(0deg, #5974ce, #70ade8 100%);
}

.gradient-color .preloader-close{
	color: #5974ce;
}

.gradient-color .main-header.style-four .header-top .text h6 i{
	background: -webkit-linear-gradient(0deg, #96a6de, #5974ce 50%);
}

.gradient-color .main-header.style-four .header-top .text h6 a:hover{
  color: #5974ce;
}

.gradient-color .main-header.style-four .header-top .social-links li a:hover{
  color: #5974ce;
}

.gradient-color .main-header.style-four .search-box-btn:hover{
  color: #5974ce;
}

.gradient-color .header-upper-2 .info-list li i{
	background: -webkit-linear-gradient(0deg, #96a6de, #5974ce 50%);
}

.gradient-color .header-upper-2 .info-list li h5 a:hover{
  color: #5974ce;
}

.gradient-color .header-upper-2 .support-box i{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 50%);
}

.gradient-color .main-menu .navigation > li.current > a, 
.gradient-color .main-menu .navigation > li:hover > a{
	color: #5974ce;
}

.gradient-color .main-header.style-four .outer-box .btn-box a{
	background: linear-gradient(90deg, var(--c1, #5974ce), var(--c2, #6ea9e3 ) 50%, var(--c1, #5974ce)) var(--x, 0)/ 200%;
}

.gradient-color .main-menu .navigation > li > ul > li > a:hover, 
.gradient-color .main-menu .navigation > li > .megamenu li > a:hover{
	color: #5974ce;
}

.gradient-color .main-menu .navigation > li > ul, 
.gradient-color .main-menu .navigation > li > .megamenu{
	border-bottom: 3px solid #5974ce;
}

.gradient-color .main-menu .navigation > li > ul > li > ul > li > a:hover{
	color: #5974ce;
}

.gradient-color .main-menu .navigation > li > ul > li > ul{
	border-bottom: 3px solid #5974ce;
}

.gradient-color .theme-btn{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .feature-block-one .icon-box{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .products-section:before{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .product-block-one .inner-box .content-box .icon-box{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 50%);
}

.gradient-color .product-block-one .inner-box .overlay-content h5 a:hover{
  color: #5974ce;
}

.gradient-color .product-block-one .inner-box .overlay-content .link a{
	background: -webkit-linear-gradient(0deg, #6ea9e3, #5974ce 100%);
}

.gradient-color .products-section .owl-theme .owl-prev:hover, 
.gradient-color .products-section .owl-theme .owl-next:hover{
  color: #5974ce;
}

.gradient-color .service-block-one .inner-box .content-box .link:before{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .service-block-one .inner-box .content-box .icon-box i{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 50%);
}

.gradient-color .service-block-one .inner-box .overlay-content .icon-box{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .service-block-one .inner-box h3 a:hover{
	color: #5974ce;
}

.gradient-color .service-block-one .inner-box .overlay-content .btn-box a{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .service-block-one .inner-box .overlay-content .btn-box a:hover {
  background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .sec-title-two p{
	color: #5974ce;
}

.gradient-color .counter-block-one .inner-box .icon-box{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .work-block-one .inner-box .icon-box i{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 50%);
}

.gradient-color .work-block-one .inner-box .icon-box:after{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .work-block-one .inner-box span{
	color: #5974ce;
}

.gradient-color .work-style-two .more-text h4 a{
  color: #5974ce;
}

.gradient-color .work-style-two .more-text i{
	color: #5974ce;
}

.gradient-color .banner-section .owl-theme .owl-prev:hover, 
.gradient-color .banner-section .owl-theme .owl-next:hover{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .work-style-two .inner-container:after{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .project-style-two .bg-layer:before{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .project-style-two .tab-btn-box .tab-btns li span{
	color: #5974ce;
}

.gradient-color .project-block-one .inner-box .image-box{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .project-block-one .inner-box .content-box .link-box li:hover i{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .dots-style-one .owl-dots .owl-dot.active span, 
.gradient-color .dots-style-one .owl-dots .owl-dot span:hover{
	border-color: #2d77fc !important;
}

.gradient-color .pricing-block-one .pricing-table .table-header h2{
	color: #5974ce;
}

.gradient-color .pricing-block-one .pricing-table .table-footer .theme-btn:before{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .pricing-block-one.active .pricing-table:before, 
.gradient-color .pricing-block-one.active .pricing-table:after{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .testimonial-style-four:before{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .testimonial-block-three .inner-box h4 span{
	color: #5974ce;
}

.gradient-color .testimonial-style-four .owl-theme .owl-prev:hover, 
.gradient-color .testimonial-style-four .owl-theme .owl-next:hover{
  color: #5974ce;
}

.gradient-color .news-block-one .inner-box .image-box .link:hover{
	color: #5974ce;
}

.gradient-color .news-block-one .inner-box .lower-content .category a{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%) !important;
}

.gradient-color .news-block-one .inner-box .lower-content h5 a:hover{
	color: #5974ce;
}

.gradient-color .news-block-one .inner-box .lower-content .link a:hover{
	color: #5974ce;
}

.gradient-color .news-block-one .inner-box .lower-content .comment-box a:hover{
	color: #5974ce;
}

.gradient-color .news-block-one .inner-box .lower-content .inner:before{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .default-form .form-group input:focus, 
.gradient-color .default-form .form-group textarea:focus{
	border-color: #5974ce !important;
}

.gradient-color .clients-section{
	background: -webkit-linear-gradient(0deg, #5974ce, #6ea9e3 100%);
}

.gradient-color .footer-top-four .contact-widget .info li p a:hover{
  color: #5974ce;
}

.gradient-color .footer-top-four .links-widget .links-list li a:hover{
  color: #5974ce;
}

.gradient-color .footer-top-four .subscribe-widget .subscribe-form .form-group i{
	color: #5974ce;
}

.gradient-color .footer-top-four .subscribe-widget .subscribe-form .form-group input[type='email']{
	border-left: 3px solid #5974ce;
}

.gradient-color .main-footer .footer-bottom a:hover{
	color: #5974ce;
}

.gradient-color .scroll-top{
  color: #5974ce;
}


.orange .handle-preloader{
	background: #fa5e44;
}

.orange .preloader-close{
	color: #fa5e44;
}

.orange .main-header.style-two .menu-right-content .cart-box a{
	color: #fa5e44;
}

.orange .main-header .menu-right-content .support-box i{
	background: #fa5e44;
}

.orange .main-header .menu-right-content .support-box h5 a:hover{
	color: #fa5e44;
}

.orange .social-style-one li a:hover{
	background: #fa5e44;
}

.orange .main-menu .navigation > li.current > a, 
.orange .main-menu .navigation > li:hover > a{
	color: #fa5e44;
}

.orange .main-menu .navigation > li > ul > li > a:hover{
	color: #fa5e44;
}

.orange .main-menu .navigation > li > ul, 
.orange .main-menu .navigation > li > .megamenu{
	border-color: #fa5e44;
}

.orange .main-menu .navigation > li > ul > li > ul > li > a:hover{
	color: #fa5e44;
}

.orange .main-menu .navigation > li > ul > li > ul{
	border-color: #fa5e44;
}

.orange .theme-btn{
	background: #fa5e44;
}

.orange .banner-section .banner-content h5{
	color: #fa5e44;
}

.orange .banner-section .owl-theme .owl-prev:hover, 
.orange .banner-section .owl-theme .owl-next:hover{
	background: #fa5e44;
}

.orange .sec-title-two p{
	color: #fa5e44;
}

.orange .feature-block-two .inner-box:hover{
  border-color: #fa5e44;
}

.orange .content_block_10 .content-box .list li:before{
	color: #fa5e44;
}

.orange .service-block-three .inner-box .image-box .link a{
	background: #fa5e44;
}

.orange .service-block-three .inner-box .image-box .icon-box{
	background: #fa5e44;
}

.orange .service-block-three .inner-box .lower-content h4 a:hover{
	color: #fa5e44;
}

.orange .video_block_1 .video-inner .video-btn a{
	color: #fa5e44;
}

.orange .chooseus-style-two .bg-layer{
	background: #fa5e44;
}

.orange .chooseus-block-two .inner-box .icon-box{
	color: #fa5e44;
}

.orange .chooseus-block-two .inner-box .icon-box:before{
	background: #fa5e44;
}

.orange .sec-title-two.light p{
	color: #fa5e44;
}

.orange .counter-block-one .inner-box .icon-box{
	background: #fa5e44;
}

.orange .work-block-one .inner-box .icon-box{
	color: #fa5e44;
}

.orange .work-block-one .inner-box .icon-box:after{
	background: #fa5e44;
}

.orange .work-style-two .more-text h4 a{
	color: #fa5e44;
}

.orange .work-style-two .more-text i{
	color: #fa5e44;
}

.orange .project-block-two .inner-box .content-box .link-box li a{
  background: #fa5e44;
}

.orange .project-block-two .inner-box .content-box .link-box li:last-child a{
  background: #e7543c;
}

.orange .team-block-one .inner-box .image-box .image{
	border: 2px solid #e7543c;
}

.orange .team-block-one .inner-box .lower-content .designation{
  color: #e7543c;
}

.orange .team-block-one .inner-box .lower-content h4 a:hover{
	color: #e7543c;
}

.orange .content_block_11 .content-box .appointment-form .form-group input:focus,
.orange .content_block_11 .content-box .appointment-form .form-group textarea:focus{
  border-color: #e7543c !important;
}

.orange .content_block_12 .text .link:hover{
  color: #e7543c;
}

.orange .testimonial-style-five .testimonial-block-three .inner-box .image-box:before{
	border: 3px solid #e7543c;
}

.orange .testimonial-block-three .inner-box .icon-box{
	color: #e7543c;
}

.orange .testimonial-block-three .inner-box h4 span{
	color: #e7543c;
}

.orange .content_block_12 .content-box .owl-nav .owl-prev:hover,
.orange .content_block_12 .content-box .owl-nav .owl-next:hover{
  color: #e7543c;
}

.orange .content_block_12 .content-box .owl-nav .owl-prev:hover:before,
.orange .content_block_12 .content-box .owl-nav .owl-next:hover:before{
  color: #e7543c;
}

.orange .news-block-three .inner-box .image-box .post-date h5{
	background: #e7543c;
}

.orange .news-block-three .inner-box .image-box .category a:hover{
	background: #e7543c;
}

.orange .news-block-three .inner-box .lower-content h5 a:hover{
  color: #e7543c;
}

.orange .news-block-three .inner-box .lower-content .bottom-box .link a:hover{
	color: #e7543c;
}

.orange .news-block-three .inner-box .lower-content .bottom-box .comment-box a:hover{
	color: #e7543c;
}

.orange .footer-top-five .upper-inner .scroll-top-2 i{
	background: #e7543c;
}

.orange .footer-top-five .content-box .info li i{
	color: #e7543c;
}

.orange .footer-top-five .content-box .info li h5 a:hover{
  color: #e7543c;
}

.orange .footer-bottom.style-five a:hover{
  color: #e7543c;
}

.orange .footer-top-five .upper-inner .scroll-top-2:hover{
  color: #e7543c;
}

.yellow .main-footer .footer-bottom a:hover{
	color: #f5720a;
}


.yellow .handle-preloader{
	background: #f5720a;
}

.yellow .preloader-close{
	color: #f5720a;
}

.yellow .main-header.style-six .support-box i{
	color: #f5720a;
}

.yellow .main-header.style-six .support-box h5 a:hover{
  color: #f5720a;
}

.yellow .header-top-3 .info li a:hover{
  color: #f5720a;
}

.yellow .header-top-3 .info li i{
	color: #f5720a;
}

.yellow .header-top-3 .mail-box i{
	color: #f5720a;
}

.yellow .header-top-3 .mail-box a:hover{
  color: #f5720a;
}

.yellow .header-top-3 .social-links li a:hover{
  color: #f5720a;
}

.yellow .theme-btn{
	background: #f5720a;
}

.yellow .main-header.style-six .header-lower .main-menu .navigation > li.dropdown.current > a:before,
.yellow .main-header.style-six .header-lower .main-menu .navigation > li.dropdown > a:hover:before{
  color: #f5720a;
}

.yellow .main-menu .navigation > li.current > a, 
.yellow .main-menu .navigation > li:hover > a{
	color: #f5720a;
}

.yellow .main-header.style-six .search-box-btn:hover{
	color: #f5720a !important;
}

.yellow .main-menu .navigation > li > ul > li > a:hover, 
.yellow .main-menu .navigation > li > .megamenu li > a:hover{
	color: #f5720a;
}

.yellow .main-menu .navigation > li > ul, 
.yellow .main-menu .navigation > li > .megamenu{
	border-color: #f5720a;
}

.yellow .main-menu .navigation > li > ul > li > ul > li > a:hover{
	color: #f5720a;
}

.yellow .main-menu .navigation > li > ul > li > ul{
	border-color: #f5720a;
}

.yellow .banner-btn-two:hover{
	color: #f5720a;
}

.yellow .banner-section.style-six .content-box h4{
	color: #f5720a;
}

.yellow .banner-section.style-six .content-box h4:before{
	background: #f5720a;
}

.yellow .banner-section .owl-theme .owl-prev:hover, 
.yellow .banner-section .owl-theme .owl-next:hover{
	background: #f5720a;
}

.yellow .benefits-section .outer-container li .single-item .icon-box{
	color: #f5720a;
}

.yellow .benefits-section .outer-container li .single-item span:before{
	background: #f5720a;
}

.yellow .benefits-section .outer-container li .single-item:hover{
  border-color: #f5720a;
}

.yellow .sec-title-three h2:before{
	background: #f5720a;
}

.yellow .sec-title-three .icon-box{
	color: #f5720a;
}

.yellow .content_block_13 .content-box .text span{
	color: #f5720a;
}

.yellow .content_block_13 .content-box .link a{
	color: #f5720a;
}

.yellow .service-block-four .inner-box .text a:hover{
  color: #f5720a;
}

.yellow .service-block-four .inner-box .inner .icon-box{
	color: #f5720a;
}

.yellow .service-block-four .inner-box .inner .icon-box:before{
	background: #f5720a;
}

.yellow .service-block-four .inner-box:hover .inner .icon-box{
	border-color: #f5720a;
}

.yellow .service-block-four .inner-box:hover .inner{
  border-color: #f5720a;
}

.yellow .content_block_14 .content-box .accordion-box .block .acc-btn .icon-box{
	color: #f5720a;
}

.yellow .content_block_14 .content-box .accordion-box .block .acc-btn.active .icon-box{
	background: #f5720a;
}

.yellow .content_block_14 .content-box .accordion-box .block .acc-btn.active h4{
	background: #f5720a;
}

.yellow .content_block_14 .content-box .accordion-box .block .acc-content .progress-box .progress-bar:before{
	background: #f5720a;
}

.yellow .content_block_14 .content-box .accordion-box .block .acc-content .progress-box .rating{
	background: #f5720a;
}

.yellow .team-block-two .inner-box .content-box .designation{
	color: #f5720a;
}

.yellow .team-block-two .inner-box .content-box h4 a:hover{
	color: #f5720a;
}

.yellow .team-block-two .inner-box .content-box .share-option i.share-icon{
	background: #f5720a;
}

.yellow .team-block-two .inner-box .content-box .share-option .share-links li a:hover{
	color: #f5720a;
}

.yellow .dots-style-one .owl-dots .owl-dot.active span, 
.yellow .dots-style-one .owl-dots .owl-dot span:hover{
	border-color: #f5720a !important;
}

.yellow .project-block-one .inner-box .content-box .link-box li{
	background: #f5720a;
}

.yellow .project-block-one .inner-box .content-box .link-box li:last-child{
	background: #e46a09;
}

.yellow .project-style-two .tab-btn-box .tab-btns li span{
	color: #e46a09;
}

.yellow .project-style-two .sec-title-three .link:hover{
  color: #e46a09;
}

.yellow .testimonial-style-six .testimonial-inner{
	border-top: 3px solid #e46a09;
}

.yellow .testimonial-style-six .testimonial-inner .inner-box:hover .image-box{
	background: #e46a09;
}

.yellow .testimonial-style-six .testimonial-inner .inner-box .designation{
	color: #e46a09;
}

.yellow .news-style-four .sec-title-three .link:hover{
  color: #e46a09;
}

.yellow .news-block-four .inner-box .image-box .link a{
	background: #e46a09;
    box-shadow: 0px 0px 0px 4px rgba(245, 114, 10,0.5);
}

.yellow .news-block-four .inner-box .lower-content h4 a:hover{
  color: #e46a09;
}

.yellow .news-block-four .inner-box .lower-content .category a:hover{
	background: #e46a09;
}

.yellow .news-block-four .inner-box .lower-content .comment-box a:hover{
  color: #e46a09;
}

.yellow .estimation-section .inner-content .title-box{
	background: #e46a09;
}

.yellow .estimation-section .inner-content .title-box:before{
	background: #e46a09;
}

.yellow .estimation-section .inner-content .inner-box .single-column .price-box h5{
	background: #e46a09;
}

.yellow .estimation-section .inner-content .inner-box .single-column .btn-box a{
	border-color: #e46a09;
}

.yellow .estimation-section .inner-content .inner-box .single-column .btn-box a:hover{
	background: #e46a09;
}

.yellow .footer-top-six .logo-widget{
	border-top: 3px solid #e46a09;
	border-bottom: 3px solid #e46a09;
}

.yellow .footer-top-six .logo-widget h4 a:hover{
  color: #e46a09;
}

.yellow .footer-top-six .logo-widget .widget-content span{
	color: #e46a09;
}

.yellow .footer-top-six .logo-widget .widget-content .link a:hover{
  color: #e46a09;
}

.yellow .footer-top-six .widget-title:before{
	background: #e46a09;
}

.yellow .footer-top-six .post-widget .post .image-box:before{
	background: #e46a09;
}

.yellow .footer-top-six .post-widget .post h6 a:hover{
  color: #e46a09;
}

.yellow .scroll-top{
	background: #e46a09;
}

.yellow .footer-top-six .contact-widget .info li p a:hover{
  color: #e46a09;
}

.yellow .footer-top-six{
	border-bottom: 3px solid #e46a09;
}

.yellow .estimation-section .inner-content .title-box .list li .icon-box{
	color: #e46a09;
}


.page-title .bread-crumb li a:hover{
  color: #7dbc26;
}

.content_block_15 .content-box .inner-box{
	border-bottom: 3px solid #7dbc26;
}

.content_block_16 .content-box .text span{
	color: #7dbc26;
}

.content_block_16 .content-box .inner-box .single-item .icon-box{
	color: #7dbc26;
}

.content_block_16 .content-box .inner-box .single-item:hover .icon-box{
  background: #7dbc26;
}

.content_block_16 .content-box .inner-box .single-item span{
	color: #7dbc26;
}

.content_block_16 .content-box .author-box h5 span{
  color: #7dbc26;
}

.video-section .video-inner .video-btn a{
	color: #7dbc26;
}

.chooseus-block-two .inner-box .icon-box{
	color: #7dbc26;
}

.chooseus-style-three .chooseus-block-two .inner-box:hover .icon-box:before{
	background: #7dbc26;
}

.history-section .history-block .content-box .upper span{
	background: #7dbc26;
}

.history-section .history-block .content-box .list li:before{
	color: #7dbc26;
}

.history-section .owl-nav button:hover{
  background: #7dbc26;
}

.counter-block-one .inner-box .icon-box{
	background: #7dbc26;
}

.team-block-two .inner-box .content-box .designation{
	color: #7dbc26;
}

.team-block-two .inner-box .content-box h4 a:hover{
	color: #7dbc26;
}

.team-block-two .inner-box .content-box .share-option i.share-icon{
	background: #7dbc26;
}

.team-block-two .inner-box .content-box .share-option .share-links li a:hover{
	color: #7dbc26;
}

.team-style-two .more-text a:hover{
  color: #7dbc26;
}

.team-block-one .inner-box .image-box .image{
	border: 2px solid #7dbc26;
}

.team-block-one .inner-box .lower-content h4 a:hover{
	color: #7dbc26;
}

.team-block-one .inner-box .lower-content .designation{
	color: #7dbc26;
}

.service-block-four .inner-box .text a:hover{
	color: #7dbc26;
}

.service-block-four .inner-box .inner .icon-box{
	color: #7dbc26;
}

.service-block-four .inner-box .inner .icon-box:before{
	background: #7dbc26;
}

.service-block-four .inner-box:hover .inner{
	border-color: #7dbc26;
}

.service-block-three .inner-box .image-box .link a{
	background: #7dbc26;
}

.service-block-three .inner-box .image-box .icon-box{
	background: #7dbc26;
}

.service-block-three .inner-box .lower-content h4 a:hover{
	color: #7dbc26;
}

.default-sidebar .widget-title:before{
	background: #7dbc26;
}

.default-sidebar .widget-title:after{
	background: #7dbc26;
}

.service-sidebar .category-widget .category-list li a.current,
.service-sidebar .category-widget .category-list li a:hover{
  background: #7dbc26;
}

.service-sidebar .support-widget .content-box a i{
	color: #7dbc26;
}

.service-sidebar .support-widget .content-box a:hover{
  color: #7dbc26;
}

.service-sidebar .download-widget .download-list li a span{
	background: #7dbc26;
}

.service-sidebar .download-widget .download-list li a:hover{
  background: #7dbc26;
}

.service-details-content .content-two .inner-box .text .icon-box{
	color: #7dbc26;
}

.service-details-content .content-two .inner-box .text .list li:before{
	color: #7dbc26;
}

.service-details-content .content-three .single-item .content-box .dot-box{
	background: #7dbc26;
}

.service-details-content .content-three .single-item .content-box .inner .icon-box{
	color: #7dbc26;
}

.service-details-content .content-three .single-item .overlay-content .dot-box{
	background: #7dbc26;
}

.service-details-content .content-three .single-item .overlay-content h5:before{
	background: #7dbc26;
}

.service-details-content .content-four .single-item:hover .link a{
  background: #7dbc26;
}

.service-details-content .content-four .single-item .icon-box{
	color: #7dbc26;
}

.pagination li a:hover,
.pagination li a.current{
	background: #7dbc26;
}

.shop-sidebar .sidebar-search .search-form .form-group input:focus + button,
.shop-sidebar .sidebar-search .search-form .form-group button:hover{
	background: #7dbc26;
}

.shop-sidebar .sidebar-search .search-form .form-group input:focus{
	border-color: #7dbc26 !important;
}

.shop-sidebar .category-widget .category-list li a:hover{
	color: #7dbc26;
}

.range-slider .ui-slider .ui-slider-range{
	background: #7dbc26;
}

.range-slider .ui-state-default, 
.range-slider .ui-widget-content .ui-state-default{
	background: #7dbc26;
}

.shop-sidebar .post-widget .post a:hover{
	color: #7dbc26;
}

.shop-sidebar .post-widget .post .post-thumb{
	background: #7dbc26;
}

.shop-block-one .inner-box .image-box .cart-btn{
	background: #7dbc26;
}

.shop-block-one .inner-box .image-box .cart-btn:hover{
  color: #7dbc26;
}

.shop-block-one .inner-box .lower-content .rating-box li{
	color: #7dbc26;
}

.shop-block-one .inner-box .lower-content h6 a:hover{
  color: #7dbc26;
}

.product-details-content .product-details .title-box .customer-review .rating-box li{
	color: #7dbc26;
}

.product-details-content .product-details .title-box .customer-review a:hover{
	color: #7dbc26;
}

.product-details-content .product-details .product-info li:before{
	color: #7dbc26;
}

.addto-cart-box .like-btn a:hover{
  background: #7dbc26;
}

.product-details-content .product-details .categry-box li a:hover{
  color: #7dbc26;
}

.product-discription .tab-btn-box .tab-buttons li.active-btn{
  background: #7dbc26;
  border-color: #7dbc26;
}

.product-discription .tabs-content .single-review-box{
	border-bottom: 3px solid #7dbc26;
}

.product-discription .tabs-content .single-review-box .rating-box li{
	color: #7dbc26;
}

.product-discription .tabs-content .comment-form .form-group input:focus,
.product-discription .tabs-content .comment-form .form-group textarea:focus{
  border-color: #7dbc26 !important;
}

.product-discription .tabs-content .comment-form .rating-box .rating li{
	color: #7dbc26;
}

.cart-section .cart-title .pull-right h6 span{
  color: #7dbc26;
}

.cart-table tbody tr .remove-btn:hover{
	color: #7dbc26;
	border-color: #7dbc26;
}

.cart-table tbody tr .total-price{
	color: #7dbc26;
}

.cart-section .apply-coupon .form-group input:focus{
	border-color: #7dbc26 !important;
}

.cart-section .btn-box .cart-btn:hover{
  background: #7dbc26;
}

.checkout-section .form-group input:focus{
	border-color: #7dbc26 !important;
}

.checkout-section .product-information .single-item span{
	color: #7dbc26;
}

.checkout-section .product-information .total span{
  color: #7dbc26;
}

.myaccount-section .login-inner .other-option li a:hover{
  background: #7dbc26;
}

.myaccount-section .form-group input:focus{
	border-color: #7dbc26 !important;
}

.sidebar-page-container .news-block-one .inner-box .lower-content h3 a:hover{
  color: #7dbc26;
}

.sidebar-page-container .news-block-one .inner-box .lower-content .link a:hover{
  color: #7dbc26;
}

.sidebar-page-container .news-block-one .inner-box .lower-content .upper .comment a:hover{
  color: #7dbc26;
}

.sidebar-page-container .news-block-one .inner-box .lower-content .share-option .social-links li a:hover{
  color: #7dbc26;
  border-color: #7dbc26;
}

.sidebar-page-container .news-block-one .inner-box .lower-content .share-option:hover .share-icon{
	color: #7dbc26;
}

.blog-sidebar .search-widget .form-group input:focus + button,
.blog-sidebar .search-widget .form-group button:hover{
  background: #7dbc26;
}

.blog-sidebar .search-widget .form-group input:focus{
	border-color: #7dbc26 !important;
}

.blog-sidebar .category-widget .category-list li a:hover{
  background: #7dbc26;
}

.blog-sidebar .post-widget .post .image-box a{
	background: #7dbc26;
}

.blog-sidebar .post-widget .post .post-content h5 a:hover{
  color: #7dbc26;
}

.blog-sidebar .tags-widget .tags-list li a:hover{
  background: #7dbc26;
}

.blog-sidebar .support-widget .inner-box .text a:hover{
  background: #7dbc26;
}

.blog-sidebar .support-widget .inner-box .phone-box{
	background: #7dbc26;
}

.product-details-content .product-details .title-box .share-box a:hover{
  background: #7dbc26;
}

.blog-details-content .text blockquote{
	border-left: 3px solid #7dbc26;
}

.blog-details-content .text blockquote .icon-box{
	background: #7dbc26;
}

.blog-details-content .post-share-option .share-option .social-links li a:hover{
	color: #7dbc26;
	border-color: #7dbc26;
}

.blog-details-content .post-share-option .share-option:hover .share-icon{
	color: #7dbc26;
}

.blog-details-content .post-share-option .tags-list li a:hover{
  background: #7dbc26;
}

.blog-details-content .post-btn .single-btn:hover .inner a{
	background: #7dbc26;
}

.blog-details-content .comment-box .comment .reply-btn:hover{
  color: #7dbc26;
}

.comments-form-area .default-form .form-group input:focus,
.comments-form-area .default-form .form-group textarea:focus{
  border-color: #7dbc26 !important;
}

.comments-form-area .default-form .form-group .theme-btn:before{
	background: #7dbc26;
}

.sortable-masonry .filters{
	border-top: 2px solid #7dbc26;
	border-bottom: 2px solid #7dbc26;
}

.sortable-masonry .filters .filter-tabs li.active,
.sortable-masonry .filters .filter-tabs li:hover{
  background: #7dbc26;
}

.sortable-masonry .filters .filter-tabs li span{
	background: #7dbc26;
}

.project-details-content .info-list li i{
	color: #7dbc26;
}

.faq-page-section .accordion-box .block .acc-btn.active .icon-outer{
  color: #7dbc26;
}

.faq-sidebar .form-inner{
	border-bottom: 3px solid #7dbc26;
}

.faq-sidebar .form-inner .form-group input:focus,
.faq-sidebar .form-inner .form-group textarea:focus{
  border-color: #7dbc26 !important;
}

.faq-sidebar .form-inner .form-group button{
	display: block;
	width: 100%;
}

.contact-page-section .form-inner .default-form .form-group input:focus,
.contact-page-section .form-inner .default-form .form-group textarea:focus{
  border-color: #7dbc26 !important;
}

.contact-page-section .sidebar-content .inner-box .icon-box{
	background: #7dbc26;
}

.contact-page-section .sidebar-content .inner-box .btn-one:hover{
  background: #7dbc26;
}

.contact-page-section .sidebar-content .inner-box .theme-btn:hover{
	color: #7dbc26;
}

.contact-info-section .inner-content .single-item .icon-box{
	color: #7dbc26;
}

.contact-info-section .inner-content .single-item p a:hover{
  color: #7dbc26;
}